<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primero Chat</title>
    <!-- Bootstrap via cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1 class="mt-4">Simple Chat</h1>
        <div id="chat" class="mb-1 shadow-lg" style=" min-height: 400px; max-height: 400px; overflow-y: scroll;">

        </div>


        <input type="text" name="" class="form-control form-control-sm mb-2" placeholder="Mensagem" id="msg">
        <input type="text" id="username" class="form-control form-control-sm mb-2" placeholder="Seu nome de usuário">
        <button type="button" class="form-control btn btn-primary bg-primary" onclick="enviar()">Enviar</button>
    </div>

</body>



<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script>

    let socket = io("http://localhost:8090/");

    socket.on('disconnect', () => {
        console.log('Desconectado')
    })


    let chat = document.querySelector('#chat')

    socket.on('showmsg', data => {
        let p = document.createElement('p');
        p.innerHTML = `${data.username} -> ${data.msg} <br>`

        chat.appendChild(p)
    })

    function enviar() {

        let msgField = document.querySelector('#msg')
        let usernameField = document.querySelector('#username')


        let msg = msgField.value;
        let username = usernameField.value;

        socket.emit('msg', { msg, username })

    }

</script>

</html>